
# RED VIRTUAL MYNETWORK
networks:
  mynetwork:
    driver: bridge

services:

# SERVICIO DE IDENTIDAD Y FRONTEND
  my-chat:
    build:
      context: ./mmy-chat
      dockerfile: Dockerfile
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8020" ]
      interval: 30s
      timeout: 10s
      retries: 5
    command: [ "php", "artisan", "serve", "--host=0.0.0.0", "--port=8020" ]
    env_file:
      - './environment/my-chat.env'
    volumes:
      - './mmy-chat:/var/www'
    depends_on:
      - users-db
      - redis
    restart: unless-stopped
    networks:
      - mynetwork

# CONTENEDOR WEBSOCKETS
  reverb:
    build:
      context: ./mmy-chat
      dockerfile: Dockerfile.reverb
    command: [ "php", "artisan", "reverb:start", "--host=0.0.0.0", "--port=8080" ]
    depends_on:
      users-db:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - './environment/reverb.env'
    restart: unless-stopped
    networks:
      - mynetwork

# INSTANCIA DE POSTGRESQL (DB USERS)
  users-db:
    image: postgres:latest
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - './data:/var/lib/postgresql/data'
    env_file:
      - ./environment/users-db.env
    networks:
      - mynetwork

# SERVICIO DE MENSAJERÍA LARAVEL 11 (BACKEND API)
  chat-service:
    build:
      context: ./chat-service
      dockerfile: Dockerfile
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8030" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    env_file:
      - ./environment/chat-service.env
    volumes:
      - './chat-service:/var/www'
    command: [ "php", "artisan", "serve", "--host=0.0.0.0", "--port=8030" ]
    depends_on:
      messages-db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped
    networks:
      - mynetwork

# INSTANCIA POSTGRESQL (DB MESSAGES)
  messages-db:
    image: postgres:latest
    restart: always
    volumes:
      - './chat-data:/var/lib/postgresql/data'
    env_file:
      - ./environment/messages-db.env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U chatuser" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - mynetwork

# GESTOR DE DB (PGADMIN)
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - '8082:80'
    env_file:
      - ./environment/pgadmin.env
    volumes:
      - ./pgadmin-data:/var/lib/pgadmin
    depends_on:
      - users-db
      - messages-db
    networks:
      - mynetwork

# BUS DE EVENTOS (REDIS)
  redis:
    image: redis:alpine
    volumes:
      - ./redis-data:/data
    networks:
      - mynetwork

# ÚNICA ENTRADA PÚBLICA (GATEWAY)
  nginx:
    image: nginx:latest
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - reverb
      - chat-service
      - my-chat
    networks:
      - mynetwork

